@model postcard.Models.Home
<div class="row">
    @foreach (var item in Model.listcapas)
    {
        <div class="col">
            <div class="card cardcapa">
                <img src="@item.URLimg" class="logopostcard" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.estado</h5>
                    <p class="card-text">@item.musica</p>
                    <a href='@Url.Action("Index", "Cards", new { _iduf = item.id, _estado = item.estado })' class="btn btn-primary">Ver cartões</a>
                </div>   
            </div>
        </div>
     }
 </div>