@model postcard.Models.Home
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="images/cloud_treinamentos_-_escolhida_-_1.png" /></a>
    <h5>Host Test2: @Model.hostip</h5>
</div>
<div class="container text-center">
        @Html.Partial("_Capas.cshtml")
</div>

